#root > div > section {
  padding-top: 1.2rem !important;
  //padding-top: 2rem;
  padding-bottom: 2rem !important;
  min-height: 50vh;
  h2 {
    font-weight: bolder;
    margin-bottom: 2rem;
    text-align: center;
  }
  h4 {
    padding: 0.8rem;
  }
  div.search-results > ul > li {
    line-height: 2.2rem;
    a {
      color: #333;
    }
  }
  div.search-results > ul > li:hover {
    background-color: rgba(212, 204, 153, 0.333);
  }
  div > div > ul > li > svg,
  div > div > h3 > span {
    cursor: pointer;
  }
}
