// Global
// @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

::-webkit-scrollbar {
  background: transparent; /* optional: just make scrollbar invisible */
  height: 5px; /* 가로 스크롤바 넓이 */
  // width: 10px; /* 세로 스크롤바 넓이 */
}
::-webkit-scrollbar-thumb {
  background: rgb(232, 217, 217); /* 스크롤바 색깔 */
}

$rgba-black-light-color: rgba(0, 0, 0, 0.35);
$rgba-black-strong-color: rgba(0, 0, 0, 0.7);
$rgba-gray-color: rgba(196, 193, 193, 1);
$rgba-gray-dark-color: rgba(196, 193, 193, 0.8);

*,
body {
  // font-family: "Nanum Gothic", sans-serif;
  font-family: "sans-serif";
}

body {
  width: 100%;
  height: 100%;
}

// 모든 포커스 아웃라인 없앰
*:focus {
  outline: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.rgba-black-light {
  background-color: $rgba-black-light-color;
}

.rgba-black-strong {
  background-color: $rgba-black-strong-color;
}

.bgcolor-transparent {
  background-color: transparent !important;
}

.transparent-input {
  background-color: darken(
    $color: $rgba-gray-dark-color,
    $amount: 5
  ) !important;
  border: none;
}

// 자동으로 잘림
.short-title {
  width: 100%; /* 가로 길이 고정*/
  text-overflow: ellipsis; /* 생략 처리 ( ... )*/
  white-space: nowrap; /* 줄바꿈 하지 않고 잘림*/
  overflow: hidden; /* 스크롤 처리 하지 않음*/
}

// 설정된 한줄 전체 넓이로 잘림
.oneline-wrap {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100%);
  text-align: left;
  vertical-align: middle;
}

#loading-image {
  background: transparent url(../../public/img/loading.gif) no-repeat center
    center;
  height: 100px;
  width: 100px;
  position: absolute;
  top: calc(100vh / 2);
  left: calc(100% / 2);
  z-index: 9999992;
}

.show-loading {
  display: block !important;
}

.hide-loading {
  display: none !important;
}

.list-group-item:hover {
  background-color: rgba(182, 210, 231, 0.281);
}

// 갤럭시 폴더
@media (max-width: 280px) {
  html {
    width: 280px;
    overflow: auto;
  }
}

@media (min-width: 576px) {
  ::-webkit-scrollbar {
    height: 12px; /* 가로 스크롤바 넓이 */
  }
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    height: 13px; /* 가로 스크롤바 넓이 */
  }
}

@media (min-width: 992px) {
  ::-webkit-scrollbar {
    height: 14px; /* 가로 스크롤바 넓이 */
  }
}
